@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://db.onlinewebfonts.com/c/a1ab9bebae84d82fbcfe930c4643de7a?family=CeraCY-Regular');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	/* font-family: CeraCY-Regular; */
    font-family: monospace;
    overflow: hidden;
}

mat-sidenav {
	border-right: 0px;
}

.mat-slide-toggle-bar:hover .mat-slide-toggle-persistent-ripple {
	opacity: 0 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #189CB4;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #189CB4;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
    background-color: rgb(112, 104, 217);
}
.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-ripple .mat-ripple-element {
    background-color: rgb(112, 104, 217);
}
.swal2-popup {
    font-family: monospace !important;
	/* font-family: Inter, 'sans serif' !important; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
	/* font-family: Inter, 'sans serif' !important; */
    font-family: monospace !important;
}

.mat-tab-label {
    color: white;
    background-color: transparent;
    font-family: monospace;
    font-size: 1rem;
    min-width: 50px !important;
    width: 100%;
}

.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    opacity: 1;
}

.mat-tab-group.mat-primary .mat-ink-bar{
    background:rgb(24, 156, 180);
}

.mat-tab-body-wrapper{
    height: 100%;
}

.mat-tab-body-content {
    height: 100%;
    padding: 0.75rem;
}

.scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.errorSnackBar {
    background: '#424242';
    color: white;
}

.errorSnackBar button {
    color:rgb(24, 156, 180);
}

.cdk-overlay-container {
    position: fixed;
    z-index: 10000;
}

.mat-drawer {
	border-right:0px;
}

.card {
	background: rgba(255, 255, 255, 0.32);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.3px);
	-webkit-backdrop-filter: blur(10.3px);
	border: 1px solid rgba(255, 255, 255, 0.45);
}

.msg-card {
	/* background: rgba( 96, 165, 250, 0.45 ); */
	/* background: rgba( 167, 139, 250, 0.45 ); */
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 8.5px );
	-webkit-backdrop-filter: blur( 8.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
