<div class="flex flex-col items-center relative w-full h-full justify-center select-none z-10 overflow-hidden">
	<div *ngIf="game.isGameOver" class="w-full h-full absolute z-20 flex items-center justify-center">
		<div class="card w-fit h-fit rounded-lg flex flex-col items-center justify-center text-white text-lg gap-2 p-4">
			<p>Game Over!</p>
			<button
				class="w-fit h-fit p-1 rounded-sm bg-cards bg-opacity-20 flex items-center justify-center hover:opacity-50 text-red-400"
				(click)="goBack()">
				<p>finish</p>
			</button>
		</div>
	</div>
	<div id="PongContainer" class="w-full h-full flex flex-col items-center relative justify-center select-none">
		<div id="PongGUI" class="absolute top-6 left-14 md:left-3 z-20"></div>
		<div class="absolute top-6 text-white text-2xl">{{game.player1.score}} : {{game.player2.score}}</div>
		<canvas id="PongCanvas" width="1920" height="1080" class="" (focus)="isFocused = true"
			(blur)="isFocused = false" tabindex="1"></canvas>
		<div *ngIf="channel && isChatting"
			class="w-[70%] h-[60%] sm:w-[40%] sm:h-[50%] card rounded-md flex flex-col absolute bottom-1 right-9 z-20">
			<div class="w-full h-full">
				<app-channel [channel]="channel"></app-channel>
			</div>
		</div>
		<div *ngIf="channel"
			class="w-fit h-fit absolute bottom-1 right-1 bg-clip-text hover:text-black hover:opacity-50 z-20 hover:cursor-pointer">
			<button (click)="isChatting = !isChatting"
				class="w-fit h-fit p-1 flex items-center justify-center bg-gradient-to-tr from-[#ff00ff] to-[#00ffff] rounded-sm">
				<i class="fa-solid fa-message text-white"></i>
			</button>
		</div>
	</div>
</div>
